.hero {
  min-height: 100vh;
  background-color: var(--black);
  color: var(--white);
  padding: calc(var(--header-height) + 4rem) 0 4rem;
  display: flex;
  align-items: flex-end;
}

.top {
  margin-bottom: 6rem;
  
  h1 {
    text-transform: uppercase;
  }
}

.shape {
  display: inline-block;
  width: 1.5em;
  height: 0.7em;
  background-color: var(--white-20);
  border-radius: 100px;
  margin: 0 0.2em;
  vertical-align: middle;
  overflow: hidden;
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: flex-end;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}

.copyWrapper {
  max-width: 500px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;

  @media (max-width: 768px) {
    justify-content: flex-start;
  }
}
