@import './variables.scss';
@import './reset.scss';
@import './typography.scss';
@import './utilities.scss';

body {
  font-family: var(--font-primary);
  background-color: var(--light);
  color: var(--black);
  overflow-x: hidden;
}

::selection {
  background-color: var(--black);
  color: var(--white);
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
    scroll-behavior: auto !important;
  }
}
