.display-xl { font-size: clamp(88px, 16vw, 250px); letter-spacing: -0.02em; line-height: 0.9; }
.display-l { font-size: clamp(66px, 7.08vw, 136px); letter-spacing: -0.02em; line-height: 1; }
.display-m { font-size: clamp(54px, 5vw, 96px); letter-spacing: -0.02em; line-height: 1; }
.display-s { font-size: clamp(38px, 3.75vw, 72px); letter-spacing: -0.02em; line-height: 1.1; }
.display-xs { font-size: clamp(28px, 2.5vw, 48px); letter-spacing: -0.02em; line-height: 1.2; }
.display-xxs { font-size: clamp(21px, 1.66vw, 32px); letter-spacing: -0.02em; line-height: 1.2; }
.text-xl { font-size: clamp(20px, 1.65vw, 32px); line-height: 1.5; }
.text-m { font-size: clamp(16px, 1.05vw, 20px); line-height: 1.5; }
.text-s { font-size: clamp(14px, .875vw, 17px); line-height: 1.5; }
.label { font-size: 12px; text-transform: uppercase; letter-spacing: 0.05em; font-family: var(--font-secondary); }
