.section {
  background: var(--white);
  color: var(--black);
  padding-top: clamp(120px, 12vw, 220px);
  padding-bottom: clamp(60px, 8vw, 120px);
  overflow: hidden;
}

.heading {
  max-width: 620px;
  margin-left: clamp(24px, 8vw, 180px);
  margin-bottom: clamp(70px, 8vw, 140px);
  
  span {
    display: block;
  }
}

.shape {
  display: inline-block;
  width: 1.5em;
  height: 0.5em;
  background-color: var(--black);
  border-radius: 999px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin: 0 0.1em;
  vertical-align: middle;
}

.cardsGrid {
  display: grid;
  grid-template-columns: 1.6fr 1fr 1fr 1fr;
  gap: 0;
  width: 100%;
}

.card {
  min-height: clamp(480px, 40vw, 720px);
  border: 2px solid var(--black);
  border-radius: 0 999px 999px 0;
  background: var(--white);
  color: var(--black);
  padding: clamp(32px, 4vw, 72px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: -2px; /* overlap borders */
  z-index: 1;
  position: relative;
  
  &:first-child {
    background: var(--red);
    color: var(--black);
    z-index: 2; /* ensure border overlaps the next */
  }
}

.inner {
  max-width: 90%;
}

.mobileSwiper {
  margin-top: 2rem;
}

.mobileCard {
  background-color: transparent;
  border: 1px solid var(--black);
  border-radius: 16px;
  padding: 3rem 2rem;
  min-height: 350px;
  color: var(--black);
}

.firstCard {
  background: var(--red);
}
