.section {
  padding: var(--section-pad) 0;
  background-color: var(--white);
}

.sectionHeader {
  margin-bottom: 6rem;

  .shape {
    display: inline-block;
    width: 1.5em;
    height: 0.5em;
    background-color: var(--black);
    border-radius: 999px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0 0.1em;
    vertical-align: middle;
  }
}

.desktopGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0; /* Elements should touch or be very close */
}

.card {
  position: relative;
  height: 550px;
  background: transparent;
  color: var(--black);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px solid var(--black);
  margin-right: -1px; /* Overlap borders */
}

.shapeRight {
  border-radius: 0 500px 500px 0;
}

.shapeLeft {
  border-radius: 500px 0 0 500px;
}

.inner {
  max-width: 80%;
}

.mobileSwiper {
  margin-top: 2rem;
}

.mobileCard {
  background-color: transparent;
  border: 1px solid var(--black);
  border-radius: 16px;
  padding: 3rem 2rem;
  min-height: 350px;
  color: var(--black);
}
